<div class="list-group-item">
    <div {{bind-attr class=":media isFlagged:bg-warning"}}>

      <div class="pull-left" {{bind-attr title=name}}>
        <img {{bind-attr src=view.cgravatarUrl}}/>
      </div>
      
      <div class="media-body">
      
        <h5 class="media-heading">
          <div class="small pull-right" {{bind-attr title=date}}>{{date}}</div>
          <strong>{{name}}</strong>&nbsp;
        </h5>
        <p class="bg-info">
          &nbsp;Email: <strong>{{email}}</strong>&nbsp;
          IP: <strong>{{ip_address}}</strong>&nbsp;
          Browser: <strong>{{browser}}</strong>&nbsp;
          OS: <strong>{{os}}</strong>&nbsp;
        </p>
        {{format-markdown comment}}
      </div>

      
        <div class="row">
          <div class="col-lg-3">
            {{#if isSeen}}
             <button type="button" class="btn btn-success btn-xs" disabled="disabled">
               <i class="fa fa-check"></i>&nbsp;<i class="fa fa-eye"></i>
             </button>
            {{else}}
             <button {{action 'markAsSeen'}} type="button" class="btn btn-primary btn-xs">
               Mark as seen
             </button>
            {{/if}}
          </div>
          <div class="col-lg-3">
            {{#if status}}
              {{#if showLoading}}
               <button type="button" class="btn btn-danger btn-xs" disabled="disabled">
                <i class="fa fa-trash-o"></i> Removing...
               </button>
              {{else}}
               <button {{action 'removeComment'}} type="button" class="btn btn-primary btn-xs">
                <i class="fa fa-trash-o"></i> Remove
               </button>
              {{/if}}
            {{else}} 
             <button type="button" class="btn btn-danger btn-xs" disabled="disabled">
               <i class="fa fa-trash-o"></i> Removed
             </button>
            {{/if}}

          </div>
          <div class="col-lg-3">
            {{#unless ip_status}}
              {{#if banLoading}}
               <button type="button" class="btn btn-danger btn-xs" disabled="disabled">
                <i class="fa fa-ban"></i> Banning...
               </button>
              {{else}}
               <button {{action 'banIp'}} type="button" class="btn btn-primary btn-xs">
                <i class="fa fa-ban"></i> Ban this IP
               </button>
              {{/if}}
            {{else}} 
             <button type="button" class="btn btn-danger btn-xs" disabled="disabled">
               <i class="fa fa-ban"></i> IP banned
             </button>
            {{/unless}}

          </div>

          <div class="col-lg-3">
            {{#if isFlagged}}
              {{#if flagLoading}}
               <button type="button" class="btn btn-danger btn-xs" disabled="disabled">
                <i class="fa fa-flag"></i> Removing...
               </button>
              {{else}}
               <button {{action 'removeFlag'}} type="button" class="btn btn-primary btn-xs">
                <i class="fa fa-flag"></i> Remove flag
               </button>
              {{/if}}
            {{/if}}

          </div>
        </div>
    </div>
</div>